# ===========================
# Betriebssystem
# ===========================

.DS_Store
Thumbs.db

# ===========================
# Visual Studio Code
# ===========================

.vscode/

# ===========================
# JetBrains IDEs
# ===========================

.idea/

# ===========================
# Node.js
# ===========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===========================
# Umgebungsdateien
# ===========================

.env
.env.local

# ===========================
# Log-Dateien
# ===========================

logs/
*.log

# ===========================
# Temporäre Dateien
# ===========================

*.tmp
*.temp

# ===========================
# Build-Ordner
# ===========================

dist/
build/

# ===========================
# ZIP-Dateien
# ===========================

*.zip

# ===========================
# Backup-Dateien
# ===========================

*.bak
*.old
